@font-face {
    font-family: 'LXGWWenKai';
    src: url('../fonts/LXGWWenKai-Medium.ttf') format('truetype');
}

body {
    background-color: #271D1A; 
    color: #A57C70; 
    margin: 0;
    padding: 0;
    font-family: 'LXGWWenKai', sans-serif;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px;    
    transform: translateX(-50%);
    background-color: #745047; 
    color: #CB887B; 
    padding: 10px;
    border-radius: 50%; 
    cursor: pointer;
    text-decoration: none;
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7; 
    z-index: 9999;
}
.scroll-to-top:hover {
    opacity: 1; 
}
.arrow {
    font-size: 24px; 
}
html {
    scroll-behavior: smooth; 
}
  

a {
    color: white; 
    text-decoration: none; 
} 
a:hover {
    color: #652923; 
}


header {
    position: relative; 
    width: 100%; 
    height: auto; 
    overflow: hidden; 
}


.full-header-image {
    width: 100%; 
    height: auto; 
    display: block; 
}
.leftimg {
    position: absolute; 
    bottom: 20px; 
    left: 10px; 
    width: 60px; 
    height: auto; 
    z-index: 10; 
}
.centerimg {
    position: absolute; 
    bottom: 20px;
    left: 1285px;    
    width: 50px;  
    height: auto; 
    z-index: 10;  
}
.rightimg {
    position: absolute; 
    bottom: 20px; 
    left: 1350px;    
    width: 50px; 
    height: auto; 
    z-index: 10; 
}
.image-container {
    position: relative;
    display: inline-block;
    overflow: visible;
}
.lefttooltip {
    visibility: hidden;
    width: 110px;
    height: auto;
    background-color: #745047;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
    bottom: 0px; 
    left: 70px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 1.5; 
    font-size: 14px;
}
.image-container:hover .lefttooltip {
    visibility: visible; 
    opacity: 1; 
}
.centertooltip {
    visibility: hidden;
    width: 60px;
    height: auto;
    background-color: #745047;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    left: 1250px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}
.image-container:hover .centertooltip {
    visibility: visible;
    opacity: 1;
}
.righttooltip {
    visibility: hidden;
    width: 80px;
    height: auto;
    background-color: #745047;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
    bottom: 0px; 
    left: 1300px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}

.image-container:hover .righttooltip {
    visibility: visible;
    opacity: 1;
}







footer p {
    color: #a57c70;
    font-size: 14px;
}

footer {
    background-color: #271D1A;
    color: #A57C70;
    padding: 10px;
    position: relative;
    height: 150px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    text-align: left; 
    margin-top: 300px;
}

.contactimg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.first-part p, .second-part p {
    display: flex; 
    align-items: center; 
    margin: 10px 0; 
    line-height: 1.8; 
}

.contact-info {
    color: #CB878B;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    margin-top: 50px !important;
    text-align: left;
}

.first-part {
    flex: 1;
    text-align: left; 
    margin-left: 150px;
    margin-top: 80px;
}

.second-part {
    flex: 1;
    text-align: center; 
    margin-right: 150px;
    margin-top: 100px;
}

.first-part, .second-part {
    flex: 1;
}

footer img {
    width: 30%; 
    height: auto;
}

footer::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    border-top: 2px solid #a57c70; 
    width: calc(100% - 30%); 
    margin-bottom: 50px;
}


h1 {
    font-weight: bold;
    color: #CB887B;
    margin-left: 100px;
    margin-bottom: 120px;
}

.register-form {
    max-width: 400px;
    margin: 0; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .form-group {
    margin-bottom: 15px;
    margin-left: 545px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'LXGWWenKai', sans-serif;

  }

  button {
    width: 350px;
    padding: 10px;
    background-color: #3E1B14; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'LXGWWenKai', sans-serif;

  }

  button:hover {
    background-color: #96474E;
    color: #3E1B14;
  }

  .text-center {
    text-align: center;
    margin-top: 10px;
  }

  .text-center a {
    width: 100%; 
    padding: 10px;
    background-color: #3E1B14; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }

  .text-center a:hover {
    background-color: #96474E;
    color: #3E1B14;
  }